<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerLInk}}
        <title>Weather App : About us</title>
</head>
<body>
  {{>header}}
    <div class="containter-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
          <div class="row">
              <!--left side header-->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                    <img src="images/about.jpg" alt="about me" class="img-fluid" title="Laiba Bareera">
                </figure>
                </div>
                <!--Right side header-->
                <div class="col-md-6 col-12 main_header_left ">
                    <p>Welcome to Weather App</p>
                    <h1>I am a <span class="style_color">Software Engineer</span> and also a website designer</h1>
                    <a href="https://laibabareeradcg.wixsite.com/website" target="Laiba Bareera"><button>Check Now</button></a>
                  </div>
          </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>